<html>
    <head>
        <title>Blog App</title>    
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">     
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">     
    </head>
    <body>
        
        
        <!--<p>header added</p>-->
            <div class="ui fixed inverted menu">
                <div class=" ui container">
                    <a href="/"><div class="header item"> <i class="comments outline icon"></i>Blog Site</i></div> </a>
                    <a href="/" class="item">Home</a>
                    <a href="/blogs/new" class="item">New Post</a>
                    </div>
                </div>
                